:root {
	--text: black;
	--text-h: #08060d;
	--bg: linear-gradient(135deg, hsl(46, 10%, 56%), hsl(46, 20%, 56%), hsl(46, 10%, 56%)) !important;
	--border: #e5e4e7;
	--code-bg: rgb(204, 203, 196);
	--shadow: rgba(0, 0, 0, 0.2) 0 10px 15px 3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
	--sans: Arial, Helvetica, sans-serif;
	--heading: Arial, Helvetica, sans-serif;
	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg) !important;


	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: rgba(243, 244, 246, 0.90);
		--text-h: #f3f4f6;
		--bg: linear-gradient(115deg, hsl(46, 70%, 3%), hsl(46, 65%, 6%), hsl(46, 60%, 18%)) !important;
		--border: #2e303a;
		--code-bg: #1f2028;
		--shadow: rgba(255, 255, 255, 0.2) 0 5px 15px 5px, rgba(255, 255, 255, 0.05) 0 4px 6px -2px;
	}
}

#root {
	max-width: 1200px;
	text-align: justify;
	min-height: 100svh;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 2rem;
}

body {
	background-color: var(--bg) !important; /**/
	color: var(--text) !important;
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0;
	min-height: 100vh;
}

h1 {
	font-family: var(--heading);
	font-weight: 500;
	color: var(--text-h) !important;
	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;

	@media (max-width: 1024px) {
		font-size: 36px;
		margin: 20px 0;
	}
}

label, input, textarea {
	color: var(--text) !important;
	font-family: Arial, Helvetica, sans-serif !important;
}